<template>
  <div>
    <h3 class="mb-2 mt-3">User Management</h3>
    <b-container fluid>
      <b-row>
        <b-col class="text-center">
          <UserForm
            class="text-right"
            :user="selectedItem"
            ref="userForm"
            @save="saveUser"
          ></UserForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="userItem" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editUser(item)" class="mx-2">Edit</b-button
              ><b-button class="ml-1" variant="danger" @click="deleteUser(item)"
                >Delete</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row></b-container
    >
  </div>
</template>
<script>
import UserForm from './ManageUserFrom.vue'
import axios from 'axios'

export default {
  components: {
    UserForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveUser (user) {
      console.log('Submit', user)
      if (user._id === '') {
        // add new
        axios
          .post('http://192.168.1.140:3000/users', user)
          .then(
            function (response) {
              const newUser = response.data
              this.getUsers()
              this.makeToast(
                'Add Successfully',
                'User ' + newUser._id + ' has been added'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast('Add Failed', 'can not add ' + user._id, 'danger')
          })
      } else {
        // Update
        axios
          .put('http://192.168.1.140:3000/users/' + user._id, user)
          .then(
            function (response) {
              const updateUser = response.data
              this.getUsers()
              this.makeToast(
                'Improved Successfully',
                'User ' + updateUser._id + ' has been edited'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'Update Failed ',
              'can not update ' + user._id,
              'danger'
            )
          })
      }
    },
    editUser (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.userForm.show()
      })
    },
    deleteUser (user) {
      if (confirm('Do you want to delete the user?')) {
        axios
          .delete('http://192.168.1.140:3000/users/' + user._id)
          .then(
            function (response) {
              this.getUsers()
              this.makeToast(
                'delete Successfully ',
                'User ' + user._id + ' has been deleted'
              )
            }.bind(this)
          )
          .catch(() => {
            this.getUsers()
            this.makeToast(
              'Delete Failed ',
              'can not delete ' + user._id,
              'danger'
            )
          })
      }
    },
    getUsers () {
      axios.get('http://192.168.1.140:3000/users').then(
        function (response) {
          console.log(response)
          this.userItem = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ID' },
        { key: 'firstname', label: 'Firstname' },
        { key: 'lastname', label: 'Lastname' },
        { key: 'roles[0]', label: 'Position' },
        { key: 'faculty.name', label: 'Faculty' },
        { key: 'operators', label: '' }
      ],
      userItem: [],
      selectedItem: null
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>
