<template>
  <div>
    <div style="text-align: justify">
      <!-- Image and text -->
      <b-container class="border-5 my-5">
        <b-row align-h="center">
          <b-col cols="5">
            <b-card
              title="Login"
              img-src="https://www.buu.ac.th/public/frontend/images/aboutus/buu_mobile.png"
              img-alt="Image"
              img-top
              tag="article"
              style="max-width: 35rem"
              class="card border-secondary"
            >
              <b-card-text>
                <b-form @submit="checkLogin" v-if="show">
                  <b-form-group
                    id="input-group-1"
                    label="Email address:"
                    label-for="input-1"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="form.email"
                      type="email"
                      placeholder="Enter email"
                      required
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    class="my-2"
                    id="input-group-2"
                    label="Your Password:"
                    label-for="input-2"
                  >
                    <b-form-input
                      id="input-2"
                      type="password"
                      v-model="form.password"
                      placeholder="Enter password"
                      required
                    ></b-form-input>
                  </b-form-group>

                  <b-button
                    type="submit"
                    variant="primary"
                    class="my-2"
                    >Login</b-button
                  >
                </b-form>
              </b-card-text>
            </b-card>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      show: true
    }
  },
  methods: {
    checkLogin (event) {
      event.preventDefault()
      this.$store.dispatch('auth/login', this.form)
    }
  }
}
</script>
