<template>
  <div>
    <b-col><Calendar /></b-col>
  </div>
</template>

<script>
import Calendar from '../components/Calendar.vue'

export default {
  components: {
    Calendar
  },
  data () {
    return {
      selected: null,
      options: this.buildings
    }
  }
}
</script>
