<template>
  <div class="col d-flex justify-content-center">
    <!-- <b-form-select v-model="selected" :options="options"></b-form-select>
    <div class="mt-3">
      Selected: <strong>{{}}</strong>
    </div> -->
    <b-card
      title="Card Title"
      img-src="https://www.buu.ac.th/public/frontend/images/aboutus/buu_mobile.png"
      img-alt="Image"
      img-top
      tag="article"
      style="width: 400px"
      class="mb-1"
    >
      <b-card-text>
        <b-container>
          <b-row>
            <b-col class="mb-2 mt-2" cols="5">
              <h5 class="text-muted d-flex">Buildings :</h5>
              <b-form-select
                v-model="buildingSelected"
                :options="buildingsItem"
                v-on:change="getRoom"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="mb-2 mt-2" cols="5">
              <h5 class="text-muted d-flex">Rooms :</h5>
              <b-form-select
                v-model="roomSelected"
                :options="roomItem"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="mb-2 mt-2">
              <h5 class="text-muted d-flex">Title :</h5>
              <b-form-input
                v-model="title"
                placeholder="Enter title"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="mb-2 mt-1">
              <h5 class="text-muted d-flex">Content :</h5>
              <b-form-textarea
                id="textarea"
                v-model="content"
                placeholder="Enter something..."
                rows="3"
                max-rows="3"
              ></b-form-textarea>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="mb-2 mt-1">
              <h5 class="text-muted d-flex">Requirement :</h5>
              <b-form-textarea
                id="textarea"
                v-model="requirement"
                placeholder="Enter requirement..."
                rows="3"
                max-rows="3"
              ></b-form-textarea>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="mb-2 mt-1"
              ><h6 for="start-date" class="text-muted">Start Date</h6>
              <b-form-datepicker
                id="start-date"
                v-model="startDate"
                class="mb-2"
                locale="th"
              ></b-form-datepicker
            ></b-col>
            <b-col class="mb-2 mt-1">
              <h6 for="start-time" class="text-muted">Start Time</h6>
              <b-form-timepicker
                id="start-time"
                v-model="startTime"
                locale="th"
              ></b-form-timepicker
            ></b-col>
          </b-row>
          <b-row>
            <b-col>
              <h6 for="end-date" class="text-muted">End Date</h6>
              <b-form-datepicker
                id="end-date"
                v-model="endDate"
                class="mb-2"
                locale="th"
              ></b-form-datepicker>
            </b-col>
            <b-col>
              <h6 for="end-time" class="text-muted">End Time</h6>
              <b-form-timepicker
                id="endTime"
                v-model="endTime"
                locale="th"
              ></b-form-timepicker
            ></b-col>
          </b-row>
          <b-row>
            <b-col class="mt-1">
              <b-button class="w-30" variant="success" @click="addEvent()">Add Reserve</b-button>
              <b-col class="mt-1">
                <b-button class="w-100" variant="danger" href="/main">Quit</b-button>
              </b-col>
            </b-col>
          </b-row>
        </b-container>
      </b-card-text>
    </b-card>
  </div>
</template>

<script>
// import api from '../service/api'

export default {
  //   computed: {
  //     selected: function () {
  //       const buildings = api.get('/buildings_public')
  //       const selects = []
  //       buildings.forEach((building) => {
  //         selects.push(building.name)
  //       })
  //       return selects
  //     }
  //   }
  data () {
    return {
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      title: '',
      content: '',
      requirement: '',
      buildingSelected: null,
      buildingsItem: [{ value: null, text: 'Please select a buildings' }],
      roomSelected: null,
      roomItem: [{ value: null, text: 'Please select a rooms' }]
    }
  }
}
</script>
