<template>
  <div>
    <p>Buildings</p>
    <b-form-select
      v-model="selected"
      :options="options"
      class=""
    ></b-form-select>
    <b-container>
      <b-row>
        <b-col
          ><vue-cal
            :locale="th"
            :events="events"
            @ready="ready($event)"
            @view-change="viewChange($event)"
        /></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'
// import { getEvents } from '../services/event'
export default {
  data () {
    return {
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      title: '',
      selected: null,
      content: '',
      events: [
      ],
      options: [
        { value: null, text: 'Please select an option' },
        { value: 'a', text: 'Informatics' },
        { value: 'b', text: 'Library' },
        { value: 'c', text: 'Medicine' },
        { value: 'd', text: 'Physics' }
      ]
    }
  },
  methods: {
    addEvent () {
      const event = {
        start: new Date(this.startDate + ' ' + this.startTime),
        end: new Date(this.endDate + ' ' + this.endTime),
        title: this.title,
        content: this.content,
        class: 'vdo_time'
      }
      console.log(event)
      this.events.push(event)
    },
    async ready (e) {
      //   console.log('ready', e)
      //   const res = await getEvents(e.startDate, e.endDate)
      //   console.log(res)
      // const newEvents = []
      // for (let i = 0; i < res.data.length; i++) {
      //   const event = res.data[i]
      //   newEvents.push({
      //     start: new Date(event.startDate),
      //     end: new Date(event.endDate),
      //     title: event.title,
      //     content: event.content,
      //     class: event.class
      //   })
      // }
      //   const newEvents = res.data.map(function (event) {
      //     return {
      //       start: new Date(event.startDate),
      //       end: new Date(event.endDate),
      //       title: event.title,
      //       content: event.content,
      //       class: event.class
      //     }
      //   })
      //   this.events = newEvents
    },
    async viewChange (e) {
      //   console.log('view-change', e)
      //   const res = await getEvents(e.startDate, e.endDate)
      //   const newEvents = res.data.map(function (event) {
      //     return {
      //       start: new Date(event.startDate),
      //       end: new Date(event.endDate),
      //       title: event.title,
      //       content: event.content,
      //       class: event.class
      //     }
      //   })
      //   this.events = newEvents
    }
  },
  computed: {
    th () {
      return th
    }
  },
  components: { VueCal }
}
</script>

<style>
.vuecal__now-line {
  color: #06c;
}
.vuecal__event.a {
  background-color: rgba(253, 156, 66, 0.9);
  border: 1px solid rgb(233, 136, 46);
  color: #fff;
}
.vuecal__event.b {
  background-color: rgba(253, 156, 66, 0.9);
  border: 1px solid rgb(233, 136, 46);
  color: #fff;
}
.vuecal__event.c {
  background-color: rgba(255, 102, 102, 0.9);
  border: 1px solid rgb(235, 82, 82);
  color: #fff;
}
</style>
