<template>
 <div>
    <div class="container "></div>

    <div>
      <b-carousel
        id="carousel-1"
        v-model="slide"
        :interval="4000"
        controls
        indicators
        background="#ababab"
        img-width="1000"
        img-height="400"
        style="text-shadow: 1px 1px 2px #333"
        @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd"
      >
        <!-- Text slides with image -->
        <b-carousel-slide
          img-src="https://media.discordapp.net/attachments/673747530399612939/965970414201356328/bloggif_625ebc03b2d0a.jpeg"
        ></b-carousel-slide>
        <!-- Slides with custom text -->
        <b-carousel-slide img-src="https://media.discordapp.net/attachments/673747530399612939/965970655193497620/bloggif_625ebc41b0844.png">
        </b-carousel-slide>

        <!-- Slides with image only -->
        <b-carousel-slide
          img-src="https://media.discordapp.net/attachments/673747530399612939/965970831312322620/bloggif_625ebc6c01a9a.jpeg"
        ></b-carousel-slide>

        <!-- Slides with img slot -->
        <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
        <b-carousel-slide>
          <template #img>
            <img
              class="d-block img-fluid w-100"
              width="1024"
              height="480"
              src="https://media.discordapp.net/attachments/673747530399612939/965970989584355348/bloggif_625ebc921430d.jpeg"
              alt="image slot"
            />
          </template>
        </b-carousel-slide>
      </b-carousel>

    </div>
    <b-button type="button" class="btn btn-success my-1" to="/login">Bookroom</b-button>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
