<template>
  <b-nav tabs align="center">
    <ul class="nav w-100">
      <li class="nav-item">
        <a class="nav-link active" href="/calendar">Checkroom</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bookroom" >Bookroom</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manage">Manage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" @click="logout()">Logout</a>
      </li>
    </ul>
  </b-nav>
</template>

<script>
export default {
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
    }
  }
}
</script>
